@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-bg-site;
  font-family: $font;
  color: white;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}



  