@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #050505;
  font-family: "Manrope", sans-serif;
  color: white;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bento-container {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  padding: 40px;
}

.bento {
  background-color: #101010;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 20px;
}

.bento h4 {
  font-size: 14px;
  font-weight: 500;
  color: #999999;
  margin-bottom: 10px;
}

.bento p {
  margin: 4px 0;
}

.bento img.icon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.parent {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "profil stack" "experience projets" "formations contact" "online .";
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  gap: 8px;
  background-image: url("../img/Ellipse2392.png");
  background-position: center -300px;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .parent {
        grid-template-areas: "profil" "stack" "experience" "projets" "formations" "online" "contact";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.stack {
  grid-row: span 3 / span 3;
}

.profil {
  grid-row: span 2 / span 2;
}

.projets {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
}

.contact {
  grid-row: span 3 / span 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 4;
      grid-row-start: 4;
}

.frame-double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-row: span 4 / span 4;
}

.formations {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 4;
      grid-row-start: 4;
}

.bento-projects,
.bento-online {
  width: 100%;
  height: 100%;
}

.frame {
  padding-block: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.frame-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Stacks */
.frame-icons-group {
  gap: 7px;
  padding-block: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90%;
}

.frame-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.icon-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #191919;
  border-radius: 12px;
  padding: 6px 10px;
  gap: 8px;
  font-size: 14px;
}

.icon-item .icon-wrapper {
  width: 35px;
  height: 35px;
  background-color: #282828;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-item img {
  width: 22px;
  height: 22px;
}

/* Profil */
.bento-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.frame-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frame-profile img {
  border-radius: 12px;
}

.frame-profile .nom-profil h2 {
  margin: 0;
}

.frame-profile .nom-profil p {
  margin: 0;
}

.frame-profile .nom-profil p span:first-child {
  color: #999999;
}

.frame-profile .nom-profil p span:last-child {
  color: #916CE7;
}

.frame-tags {
  background: #141414;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background: #191919;
  padding: 6px 10px;
  border-radius: 80px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.tag img {
  width: 14px;
  height: 14px;
}

.tag span {
  font-size: 12px;
  color: #fff;
}

/* Experiences */
.bento-experiences {
  overflow: hidden;
}

.project-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.project-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #191919;
  border: 1px solid rgba(255, 255, 255, 0.02);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7px;
  border-radius: 12px;
  color: #cccccc;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.icon-box {
  width: 35px;
  height: 35px;
  background-color: #282828;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Suivez moi*/
.social {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social2 {
  margin-top: 45px;
  border-radius: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #191919;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Projets */
.proj-div {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.proj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proj img {
  width: 100%;
  max-width: 250px;
}

button {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: #916CE7;
  color: white;
  border-radius: 12px;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #7b59c7;
}

/*contacts*/
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: #1F1F1F;
  border-radius: 10px;
  padding: 16px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #292929;
}

.contact-button span {
  color: #CCCCCC;
  font-family: "Manrope", sans-serif;
  font-size: 13.8px;
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */